<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <h4><strong><%= link_to_unless_current event.title, event %></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">      
        <p><%= simple_format event.body %></p>

        <% if event.open == true %>
          <p><%= link_to("Join In!", "/rooms/#{event.room_name}", { :class=>"btn" }) %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p></p>
        <p>
          <span class="glyphicon glyphicon-user"></span> by <a href="#">Todo</a> 
          | <span class="glyphicon glyphicon-calendar"></span> <%= distance_of_time_in_words_to_now(event.start) %>
          | <span class="glyphicon glyphicon-comment"></span> <a href="#"><%= pluralize(event.comments.count, 'Comment') %></a>
          | <span class="glyphicon glyphicon-share"></span> <a href="#">39 Shares</a>
          <!-- | <span class="glyphicon glyphicon-tags"></span> Tags : <a href="#"><col-md- class="label label-info">Snipp</col-md-></a>  
          <a href="#"><col-md- class="label label-info">Bootstrap</col-md-></a> 
          <a href="#"><col-md- class="label label-info">UI</col-md-></a> 
          <a href="#"><col-md- class="label label-info">growth</col-md-></a> -->
        </p>
      </div>
    </div>
  </div>
</div>
<hr>