<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <h4><strong><%= link_to_unless_current event.title, event %></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">      
        <p><%= simple_format event.body %></p>

        <% if event.open == true %>
          <p><%= link_to("Join In!", "/rooms/#{event.room_name}", { :class=>"btn btn-primary" }) %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p></p>
        <p>
          <span class="glyphicon glyphicon-user"></span> by <%= event.user.name %>
          | <span class="glyphicon glyphicon-calendar"></span> <%= distance_of_time_in_words_to_now(event.start) %>
          | <span class="glyphicon glyphicon-comment"></span> <span id="comment_counter"><%= pluralize(event.comments.count, 'Comment') %></span>
          <% if current_user && current_user == event.user %> | <span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Edit', edit_event_path(event) %><% end %>
        </p>
      </div>
    </div>
  </div>
</div>